# firebase_functions
# functions-framework==3.*
# git+https://github.com/gazaay/four-pillars.git@main#egg=bazi
# firebase-admin
# flask
# fastapi
# uvicorn
# pydantic
# asgiref
firebase_functions==0.1.0
functions-framework==3.3.0
git+https://github.com/gazaay/four-pillars.git@main#egg=bazi
firebase-admin==6.0.1
flask==2.3.2
fastapi==0.100.0
uvicorn==0.22.0
pydantic==1.10.9
asgiref==3.7.2